# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Python environment
.venv/
env/

# Compiled source
lib/

# Python-specific
__pycache__/
*.py[cod]
*.pyc

# Secrets
.env
.pem

# Jupyter
notebooks/
*.ipynb_checkpoints/

# Logs
logs/
mlruns/

# Temporary files
tmp/

# Config
config/